@font-face {
    font-family: "KJV1611";
    src: url("KJV1611.woff") format("woff");
}
* {
    padding:0;
    margin:0;
}
html, body {
    width:100vw;
    height:100vh;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    background: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
button {
    background: black;
    border: none;
    padding:2vh;
    font-size:3vh;
    color:white;
    font-family: inherit;
}
h1 {
    display: none;
    padding:1vh;
    font-size:3vh;
}